*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* LANGUAGE SELECTOR */


.language-selector {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    margin-right: 50px;
}

.imgL {
    width: 35px;
    height: 20px;
}

.language-selector button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

.language-dropdown {
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 100;
    width: 120px;
    display: flex;
    flex-direction: column;
}

.language-dropdown li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-dropdown li:hover {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

#current-lang {
    border: 2px solid rgb(190, 133, 255);
    border-radius: 5px;
}

#current-lang:hover {
    background-color: rgb(190, 133, 255);
}


.section1 {
    background-image: url('imgs/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 10px;
    position: fixed;
    left: 35px;
    top: 0;
    z-index: 999;
}

.header-wrapper {
    height: 85px;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    gap: 100px;

}

.logo-wrapper {
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Poppins", sans-serif;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.spn1 {
    font-size: 28px;
    font-weight: 700;
    color: rgb(159, 84, 247);
}

ul,.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

li {
    list-style: none;
}

.btn-wrapper {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.btn-wrapper .btn:hover {
    background-color: rgb(159, 84, 247);
}

.btn {
    width: 150px;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    border:  1px solid rgb(159, 84, 247);
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    color: rgb(159, 84, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn:hover {
    background-color: blue;
    color: white;
    transition: all 0.5s;
}

.links {
    text-decoration: unset;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.links:hover {
    color: rgb(159, 84, 247);
    padding-bottom: 30px solid blue;
}

.background {
    position: absolute;
    z-index: -1;

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 70px;
    text-align: center;
    padding-top: 250px;
    color: black; 
}

.text1 {
    width: 100%;
    padding-right: 100px;
    text-align: end;
    font-size: 20px;
    color: black;
    font-style: italic;
    font-weight: 600;
}

.text2 {
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
    color: black;
}

.btn2 {
    margin-top: 40px;
    background: linear-gradient(rgb(159, 84, 247), rgb(192, 149, 239));
    color: white;   
    border: 1px solid white;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2:hover {
    background: linear-gradient(rgb(121, 31, 223), rgb(159, 84, 247));
}

.name {
    color: rgb(159, 84, 247);
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}

/* SECTION2 */

.section2 {
    padding-top: 50px;
    background: linear-gradient(rgb(250, 247, 255), white);
}

.heroes {
    justify-self: center;
    display: flex;
    gap: 30px;
}

.left-hero {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.right-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text3 {
    color: rgb(92, 92, 92);
    font-size: 18px;
    font-weight: 500;
}

.imgs {
    width: 700px;
    height: 400px;
    border-radius: 10px;
}

.us {
    width: 30px;
    height: 30px;
}

.about {
    align-self: flex-start;
    width: 150px;
    height: 50px;
    border: 1px solid #939191;
    border-radius: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 247, 249);
}

.heading {
    font-size: 40px;
    font-weight: normal;
    text-align: start;
    padding-bottom: 20px;
}

.spn2 {
    color: rgb(0, 81, 203);
}

.strelka {
    width: 20px;
    height: 20px;
}

.more {
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.more:hover {
    border: 1px solid gray;
    background-color: white;
}

.two {
    display: flex;
    flex-direction: row-reverse;
}

.teachers {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.one {
    margin-top: 10px;
    margin-bottom: 60px;
}

/* SECTION3 */

.section3 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.students {
    position: absolute;
    top: 77px;
    width: 300px;
    height: 50px;
    background-color: rgb(246, 240, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #e6e9ee;
    align-self: center;
    gap: 10px;
}

.team {
    width: 30px;
    height: 30px;
}

.textt {
    font-weight: 600;
}

.students-cert {
    align-self: center;
    height: 300px;
    width: 1300px;
    border-radius: 10px;
    border: 2px solid #e6e9ee;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cards {
    height: 160px;
    width: 237px;
    border: 2px solid #e6e9ee;
    background-color: rgb(246, 240, 254);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cards:hover {
    background-color: rgb(190, 133, 255);
    transition: all 0.6s;
    color: white;
}

.num {
    font-weight: bold;
    font-size: 50px;
}

.num2 {
    font-size: 30px;
    color: gray;
}

/* SECTION4 */

.section4 {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headd {
    width: 200px;
    height: 65px;
    border: 2px solid #e6e9ee;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperjon {
    width: 190px;
    height: 55px;
    border: 2px solid #e6e9ee;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tick {
    width: 20px;
    height: 26px;
}

.headingH {
    font-size: 22px;
    font-weight: 500;
}

.heading2 {
    font-size: 50px;
    font-weight: 500;
    padding-top: 80px;
}

.cards-wrapper {
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.cards-item {
    width: 400px;
    height: 180px;
    border: 2px solid #e6e9ee;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.headingC, .textC {
    padding-left: 20px;
}

.headingC {
    margin-top: 20px;
    font-weight: 600;
    font-size: 25px;
}

.textC {
    color: gray;
    font-size: 15px;
    font-weight: 500;
}

.imgC-wrapper {
    left: 20px;
    top: -20px;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #c899fe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.imgC {
    width: 25px;
    height: 25px;
}

.shape {
    width: 20px;
    height: 20px;
}

.horizontal-scroll-container {
    margin-top: 50px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px; /* kartalar orasida masofa */
    padding: 20px;
    max-width: 1300px;
    align-self: center;
    justify-self: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
.card {
    min-width: 380px; /* kartaning eni */
    height: 335px;
    background-color: #f6f7f9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    scrollbar-width: thin;
    border: 2px solid #e6e9ee;
}


.faq {
    font-size: 18px;
    font-weight: 600;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: white;
    border: 2px solid #e6e9ee;
    border-radius: 50px;
    font-size: 20px;
    font-weight: normal;
    margin-right: 200px;
}

.feedback {
    color: rgb(92, 92, 92);
    font-weight: normal;
    font-size: 18px;
    margin-left: 20px;

}

.member {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
}

.picture {
    width: 40px;
    height: 40px;
    background-color: #c899fe;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student {
    width: 30px;
    height: 30px;
}

.axad {
    margin-top: 20px;
}

.axad2 {
    margin-top: 0px;
}

/* KURSLAR */

.kurslar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.english {
    width: 30px;
    height: 30px;
}

.kurslar1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.kurs-card {
    width: 400px;
    height: 250px;
    border: 2px solid rgb(159, 84, 247);
    border-radius: 10px;
    position: relative;
}

.kurs-card:hover {
    box-shadow: 0 4px 12px black;
    transition: all 0.5s;
}

.backblur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(6px);
    z-index: 0;
}


.kurs-card:hover .backblur {
    transition: all 0.5s;
    box-shadow: 10px10px 4px 12px rgba(0,0,0,0.1);
    filter: blur(0);
}

.subject {
    font-weight: 600;
    font-size: 22px;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.kurst {
    font-weight: 600;
}

/* SECTION6 */

.section6 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.faq-section {
    justify-self: center;
    max-width: 1240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    flex-direction: column;
}

.wrapper4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq-wrapper {
    display: flex;
    flex-direction: column;
}

.faq {
    width: 1000px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom:2px solid #fff;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rasmlar {
    display: flex;
    align-items: center;
}

.question img {
    margin-right: 20px;
    margin-top: 15px;
}

.question h3 {
    font-size: 1.8rem;
    font-weight: normal;
    color: white;
}

.toggle-answer {
    max-height: 0;
    overflow: hidden;
    font-size: 18px;
    color: rgb(190, 133, 255);
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding-left: 30px;
    font-weight: normal;
}

.faq.active .toggle-answer {
    max-height: 300px;
    padding-top: 20px;
}

.faq-section button {
    align-self: center;
}

.btn1:hover {
    background-color: black;
    transition:background-color 0.5s ease-in-out; /* 1 soniyada o'zgarish */;
}


.headingg {
    text-align: center;
    font-size: 50px;
    color: black;
    padding-top: 50px;
}

.texttjon {
    font-size: 20px;
    color: gray;
    text-align: center;
    padding-top: 30px;
}

.question h3 {
    color: gray;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 25px;
}

.spn11 {
    color: rgb(159, 84, 247);
}


.btn:hover {
    background-color: black;
    transition:background-color 0.5s ease-in-out; 
}

.imgss {
    transition: transform 0.2s ease;
}

.fikrlar {
    font-size: 20px;
}

.square1 {
    width: 215px;
    height: 75px;
}


.square {
    width: 205px;
    height: 65px;
}

button {
    transition: all 1s ease-out;
}

/* SECTION7 */

.section7 {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logos-wrapper {
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #c899fe;
    border-radius: 20px;
}

.logo1:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

.img1 {
    width: 50px;
    height: 50px;
}

.insta {
    width: 70px;
}

.logo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logoN {
    font-size: 20px;
    font-weight: 500;
    color: rgb(159, 84, 247);
}

.address {
    font-size: 22px;
    font-weight: 500;
    color: gray;
}

/* FOOTER */

.footer {
    margin-top: 100px;
}

.logoF {
    width: 100px;
    height: 100px;
}

.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.logoF-wrapper {
    display: flex;
    align-items: center;
}

.spn1F {
    font-size: 40px;
}

.text4 {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
}

.text5 {
    font-size: 25px;
    font-weight: 500;
    color: gray;
}

.linkF-wrapper {
    display: flex;
    gap: 80px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.linkF {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    background-color: #f6f7f9;
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    font-size: 22px;
}

.linkF:hover, .linkF a:hover {
    color: rgb(159, 84, 247);
    transition: all 0.5s;
}

.linkF2 {
    width: 200px;
}

.linkF a {
    color: rgb(89, 88, 88);
    text-decoration: none;
}

.navF {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apps {
    width: 40px;
    height: 40px;
}

.footerb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-logos {
    display: flex;
    gap: 20px;
}

/* HAMBURGER */

/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    width: 50%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}

.hamburger {
    display: none;
}

.nav-bar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}



/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(159, 84, 247);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu-ul {
    flex-direction: column;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
  background-color: rgb(159, 84, 247);
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu-ul li > a {
    color: rgb(159, 84, 247);
    text-transform: capitalize;
    font-size: 22px;

}

.teachers:hover,.imgs:hover {
    opacity: 0.5;
    transition: all 0.6s;
}

.btnjon {
    padding: 10px;
}


/* KURSLAR */

.kurslar {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nega {
    width: 270px;
}

.nega2 {
    width: 260px;
}

@media (max-width:850px) {
    .hamburger {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        align-items: center;
        
    }

    nav, .header-wrapper {
        display: none; 
    }

    .img1 {
        width: 350px;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}



@media (max-width:1300px) {
    .links {
        font-size: 16px;
    }
    .spn1 {
        font-size: 16px;
    }
    .cards-item {
        width: 300px;
        height: 150px;
    }
    .headingC {
        font-size: 18px;
    }
    .textC {
        font-size: 14px            
    }
    .horizontal-scroll-container {
        width: 1000px;
    }
    .students-cert {
        width: 1000px;
    }
    .cards {
        width: 190px;
        height: 140px;
    }
    .num {
        font-size: 35px;
    }
    .headingC {
        margin-top: 10px;
    }
    .textC {
        margin-top: 0;
    }
    .container {
        max-width: 1000px;
    }
    .heading {
        font-size: 20px;
    }
    .text3 {
        font-size: 17px;
    }
    .imgs {
        width: 500px;
        height: 300px;
    }
    .left-hero {
        height: 400px;
    }
    .teachers {
        width: 400px;
        height: 350px;
    }
    .btn {
        width: 120px;
        height: 35px;
        font-size: 13px;
    }
    .btn2 {
        font-size: 12px;
        width: 150px;
        height: 50px;
    }
    .header-wrapper {
        gap: 30px;
    }
    h1 {
        font-size: 55px;
    }
    .card {
        width: 320px;
        height: 280px;
    }
    .picture {
        width: 30px;
        height: 30px;
    }
    .student {
        width: 25px;
        height: 25px;
    }
    .x {
        width: 40px;
        height: 40px;
    }
    .axad {
        margin-top: 0;
    }
    .name2 {
        font-size: 16px;
    }
    .logo-item {
        width: 80px;
        height: 80px;
    }
    .address, .logoN {
        font-size: 18px;
    }
    .textt {
        font-size: 18px;
    }
    .cards-wrapper {
        justify-content: center;
    }

}



@media (max-width: 1100px) {
    .faq-wrapper {
        width: 80%;
        display: flex;
        align-items: center;
    }
    .faq {
        max-width: 700px;
    }
    .heroes {
        max-width: 900px;
    }
    .text3 {
        font-size: 0.8rem;
    }
    .heading {
        font-size: 1rem;
        font-weight: 500;
    }
    .imgs {
        height: auto;
        max-width: 400px;
    }
    .question h3 {
        font-size: 20px;
    }
    .headingg, .heading2 {
        font-size: 30px;
    }
    .texttjon {
        font-size: 18px;
    }
    .text4 {
        font-size: 20px;
    }
    .text5 {
        font-size: 18px;
    }
    .linkF-wrapper {
        gap: 40px;
    }
    .linkF {
        width: 100px;
    }
    .linkF2 {
        width: 130px;
    }
    .linkF a {
        font-size: 16px;
    }
    .copyrightt {
        font-size: 16px ;
    }
    .f-logos {
        gap: 5px;
    }
    .apps {
        width: 30px;
        height: 30px;
    }
    .students-cert {
        max-width: 90vw;
    }
    .cards-wrapper {
        gap: 20px;
    }
    .cards-item {
        max-width: 400px;
    }
    .card {
        width: 320px;
        height: 250px;
    }
    .feedback, .name2, .data  {
        font-size: 14px;
    }
    h1 {
        font-size: 45px;
    }
    .text2 {
        font-size: 16px;
    }
    .horizontal-scroll-container {
        max-width: 90vw;
    }
    .cards {
        width: 80vw;
    }
    .num {
        font-size: 2rem;
    }
    .num2 {
        font-size: 1.5rem;
    }
    .headingC {
        font-size: 1rem;
    }
    .textC {
        font-size: 0.8rem;
    }
    .logo-item {
        width: 70px;
        height: 70px;
    }
    .img1 {
        width: 30px;
        height: 30px;
    }
    .insta {
        width: 40px;
    }
    .logoN, .address {
        font-size: 1rem;
    }
    .about {
        width: 100px;
        height: 40px;
        font-size: 0.7rem;
    }
    .us {
        width: 20px;
        height: 20px;
    }
    ul {
        gap: 10px;
    }
    .links {
        font-size: 0.8rem;
    }
    .btn2 {
        width: 120px;
        height: 40px;
        font-size: 10px;
    }
    .strelka {
        width: 15px;
        height: 15px;
    }
    .cards-wrapper {
        flex-wrap: wrap;    
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 850px) {
    .faq-wrapper {
        width: 80%;
        display: flex;
        align-items: center;
    }
    .faq {
        max-width: 500px;
    }
    .question h3 {
        font-size: 18px;
    }
    .heading {
        font-size: 14px;
    }
    .text3 {
        font-size: 10px;
    }
    .left-hero {
        height: 350px;
    }
    .headingC {
        font-size: 0.8em;
    }
    .cards-item {
        height: 120px;
    }
    .textC {
        font-size: 0.5em;
    }
    .cards {
        width: 120px;
        height: 120px;
    }
    .num {
        font-size: 1em;
    }
    .num2 {
        font-size: 18px;
    }
    .logos-wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }
    .headd {
        width: 180px;
        height: 45px;
    }
    .wrapperjon {
        width: 175px;
        height: 40px;
    }
    .headingH {
        font-size: 16px;
    }
    .tick {
        width: 15px;
        height: 20px;
    }
    h1 {
        padding-top: 150px;
    }
    .students-cert {
        height: auto;
        flex-wrap: wrap;
    }
    .cards {
        margin-top: 40px;
    }
    .copyrightt {
        font-size: 12px;
    }
    .section7 {
        padding-top: 150px;
    }
    .logos-wrapper {
        margin-top: 40px;
    }
    .texttjon {
        padding-top: 10px;
    }
    .text5 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 25px;
    }
    .text1 {
        font-size: 16px;
    }
    .name {
        font-size: 16px;
    }
    .text2 {
        font-size: 16px;
    }
    .about {
        align-self: center;
        margin-bottom: 10px;
    }
    .heroes {
        flex-direction: column-reverse;
        align-items: center;
    }
    .left-hero {
        height: 300px;
    }
    .one {
        margin-bottom: 0;
    }
    .certificates {
        margin-bottom: 20px;
    }
    .teachers {
        margin-top: 10px;
    }
    .right-hero {
        justify-content: center;
        align-items: center;
        max-width: 400px;
    }
    .linkF-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .text4 {
        text-align: center;
    }
    .section4 {
        padding-top: 80px;
    }
    .shaxsiy {
        margin-left: 20px;
    }
    .footer1 {
        margin-bottom: 40px;
    }
}

@media (max-width: 500px) {
    .headingg {
        font-size: 25px;
    }
    .texttjon {
        font-size: 13px;
    }
    .faq-wrapper {
        width: 80%;
        display: flex;
        align-items: center;
    }
    .faq {
        max-width: 320px;
    }
    .question h3 {
        font-size: 18px;
    }
    .toggle-answer {
        font-size: 14px;
    }
    .section7 {
        margin-top: 100px;
    }
    .text5 {
        text-align: center;
    }
    .question h3 {
        font-size: 14px;
    }
    .toggle-answer {
        font-size: 12px;
    }
    .heading2 {
        text-align: center;
    }
    .card {
        width: 200px;
        height: 200px;
    }
    .feedback {
        font-size: 13px;
    }
    .data {
        height: 30px;
        width: 120px;
    }
    .ozodbek {
        gap: 8px;
    }
    .apps {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 470px) { 
    .copyrightt {
        font-size: 8px;
    }
    .apps {
        width: 20px;
        height: 20px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    .linkF-wrapper {
        margin-bottom: 0;
    }
    .imgs {
        max-width: 300px;
    }
    .text3 {
        max-width: 300px;
        text-align: center;
    }
    .left-hero {
        height: 220px;
    }
    .teachers {
        max-width: 300px;
        height: 270px;
    }
}